<configuration>

    <appender name="fileErrorAppender" class="ch.qos.logback.core.FileAppender">
        <file>err.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFileInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>cafheg.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>cafheg_%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch" level="error">
        <appender-ref ref="fileErrorAppender"/>
    </logger>

    <logger name="ch.hearc.cafheg.business" level="info">
        <appender-ref ref="rollingFileInfoAppender"/>
    </logger>

    <logger name="ch.hearc.cafheg" level="debug">
        <appender-ref ref="consoleAppender"/>
    </logger>

</configuration>
